.search-author-button {
	position: absolute;
	left: 90%;
	top: 0.4em;
}

.author-field {
	padding-right: 2em !important;
}

#overlay {
	display: none;
 	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
}

#author-picker, #message-box {
	display: none;
	position: fixed;
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(255,255,255);
	padding: 2em 2em;
	border-radius: 4px;
	z-index: 1001;
	width: 50%;
	height: 50%;
	color: #2b2b2b;
}

#author-picker-title {
	display: none;
}

#author-picker h3, #author-picker-list strong {
	color: #2b2b2b;
}

#author-picker-list {
	overflow-y: auto;
	max-height: calc(100% - 3em);
}

#author-picker-list li {
	cursor: pointer;
}

#author-picker-loading, #message-box-loading {
	display: none;
	position: absolute;
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);
}

#author-picker-close, #message-box-close {
	position: absolute;
	right: 1em;
	top: 1em;
	cursor: pointer;
}

.captcha-failed {
	border: 1px solid red;
}



#message-box h3, #message-box strong {
	color: #2b2b2b;
}

#message-box .request-id {
	color: #2b2b2b;
	font-weight: bold;
	display: block;
	padding-top: 2em;
	text-align: center;
	font-size: 2em;
}


#show-symbols {
	font-size: 0.8em;
	text-decoration: underline;
	cursor: pointer;
}

#symbols {
	display: none;
}

#symbols pre {
	margin: 0;
}

#symbols a {
	font-size: 0.8em;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@media screen and (max-width: 850px) {
	#author-picker, #message-box {
		width: 80%;
		height: 80%;
	}
}
